/* trying to make individual cards look nicer */
#sprite {
    margin: 0 auto; 
}

/* .sprite img {
    width: 15vw;
} */

.card-title {
    font-size: 30px;
}

.card {
    border-radius: 10px; 
    width: 5vw;
}

img {
    width: 10vw;
}